@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.sidebar {
  position: fixed;
  width: 250px;
  background-color: #111;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 0 0px 20px;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    z-index: 99999;
    height: auto;
    width: 100%;
    padding: 0;
  }
}
.sidebar .navbar-custom {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .navbar-header {
    float: none;
    margin: 0 0 60px;
  }
}
.sidebar .navbar-custom .navbar-header .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sidebar .navbar-custom .navbar-brand {
  display: table-cell;
  vertical-align: middle;
  float: none;
  height: 70px;
  padding: 15px 15px;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
}
.sidebar .navbar-custom .navbar-brand .light-logo {
  width: 95px;
  display: block;
}
.sidebar .navbar-custom .navbar-toggle {
  padding: 0;
  margin: 27px 15px 0 0;
  position: relative;
  float: right;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .navbar-toggle {
    display: none;
  }
}
.sidebar .navbar-custom .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
}
.sidebar .navbar-custom .navbar-toggle .icon-bar:not(:nth-child(2)) {
  margin-top: 4px;
}
.sidebar .navbar-custom .navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  overflow-x: visible;
  border-top: 1px solid transparent;
  height: 1px;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: block !important;
    width: auto;
    border-top: 0;
    height: auto;
    overflow: visible;
  }
}
@media (max-width: 991px) {
  .sidebar .navbar-custom .navbar-collapse.in {
    transition: height 0.35s ease;
    overflow: visible;
    height: auto;
  }
}
.sidebar .navbar-custom .navbar-collapse.animation-js {
  height: 281px;
}
.sidebar .navbar-custom li > a {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
@media (max-width: 991px) {
  .sidebar .navbar-custom li > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  }
}
.sidebar .navbar-custom li > a:hover {
  color: #ffffff;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 992px) {
  .sidebar .navbar-custom li.dropdown > a::after {
    position: absolute;
    display: block;
    right: 35px;
    top: 50%;
    margin-top: -6px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    font-weight: 600;
    content: "\f105";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
.sidebar .navbar-custom .dropdown-menu {
  background: rgba(26, 26, 26, 0.9);
  border: 0;
  box-shadow: none;
  border-radius: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
}
.sidebar .navbar-custom .dropdown-menu:hover {
  display: block;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .dropdown-menu {
    top: -5px;
    left: 100%;
    min-width: 200px;
  }
}
.sidebar .navbar-custom .dropdown-menu li > a {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
.sidebar .navbar-custom .dropdown-menu li > a:hover {
  color: #ffffff;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .dropdown-menu li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 991px) {
  .sidebar .navbar-custom .dropdown-menu li > a {
    padding: 10px 15px 10px 25px;
    line-height: 20px;
  }
}
.sidebar .navbar-custom .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .navbar-nav {
    float: none;
    margin: 0;
  }
}
.sidebar .navbar-custom .navbar-nav li {
  list-style: none;
}
@media (min-width: 992px) {
  .sidebar .navbar-custom .navbar-nav li {
    float: none;
  }
}
@media (min-width: 991px) {
  .sidebar .navbar-custom .navbar-nav li a.binded:hover + ul {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .sidebar .navbar-custom .navbar-nav li.open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
  }
}
.sidebar .navbar-custom .navbar-nav > li > a {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 12px 15px;
}
@media (max-width: 991px) {
  .sidebar .navbar-custom .navbar-nav > li > a {
    padding: 10px 15px;
  }
}
.sidebar .navbar-custom .navbar-nav > li .dropdown-menu {
  margin-top: 0;
}
.sidebar .font-alt {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.sidebar .copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 30px;
  font-size: 11px;
}
@media (max-width: 992px) {
  .sidebar .copyright {
    display: none;
  }
}
.sidebar .copyright .social-icons {
  margin-bottom: 20px;
}
.sidebar .copyright .social-icons a {
  margin-right: 13px;
  font-size: 12px;
}
.sidebar .copyright .social-icons a:hover {
  color: #ffffff;
}
.sidebar .copyright p {
  margin-bottom: 30px;
}
.sidebar a {
  color: rgba(255, 255, 255, 0.7);
}

.wrapper {
  position: relative;
  margin-left: 250px;
}
@media (max-width: 991px) {
  .wrapper {
    margin-left: 0;
    overflow-x: hidden;
  }
}
.wrapper .main-slider .cam-container::before {
  background: rgba(34, 34, 34, 0.3);
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.wrapper .main-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.wrapper .main-slider .slick-slide img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.wrapper .main-slider .bg-film::before {
  background-image: url(../images/dot.gif);
  opacity: 0.15;
}
.wrapper .main-slider .hero-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.wrapper .main-slider .hero-caption h6 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 20px;
  letter-spacing: 6px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 400;
}
@media (max-width: 667px) {
  .wrapper .main-slider .hero-caption h6 {
    letter-spacing: 2px;
  }
}
.wrapper .main-slider .hero-caption h6.last-text {
  margin-bottom: 60px;
}
.wrapper .main-slider .hero-caption h1 {
  letter-spacing: 20px;
  font-weight: 300;
  font-size: 54px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .wrapper .main-slider .hero-caption h1 {
    font-size: 38px;
  }
}
@media (max-width: 667px) {
  .wrapper .main-slider .hero-caption h1 {
    letter-spacing: 10px;
    font-size: 30px;
  }
}
.wrapper .main-slider .hero-caption .herobanner-text {
  color: #111;
}
.wrapper .main-slider .slick-arrow {
  background: #ffffff;
  display: block;
  height: 46px;
  width: 46px;
  top: 50%;
  margin: -23px 10px 0;
  padding: 0;
  opacity: 0;
  text-align: center;
  line-height: 46px;
  font-size: 0;
  color: #111;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9;
}
.wrapper .main-slider .slick-arrow::before {
  color: #111;
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
}
.wrapper .main-slider .slick-arrow.slick-next {
  right: -20px;
}
.wrapper .main-slider .slick-arrow.slick-next::before {
  content: "\f105";
}
.wrapper .main-slider .slick-arrow.slick-prev {
  left: -20px;
}
.wrapper .main-slider .slick-arrow.slick-prev::before {
  content: "\f104";
}
.wrapper .main-slider:hover .slick-arrow {
  opacity: 0.5;
}
.wrapper .main-slider:hover .slick-arrow:hover {
  opacity: 1;
}
.wrapper .main-slider:hover .slick-arrow.slick-next {
  right: 0;
}
.wrapper .main-slider:hover .slick-arrow.slick-prev {
  left: 0;
}
.wrapper .main-slider .slick-dots {
  bottom: 10px;
}
.wrapper .main-slider .slick-dots li {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  overflow: hidden;
  height: 4px;
  width: 24px;
  margin: 6px 4px;
  z-index: 1000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .main-slider .slick-dots li.slick-active {
  background: #ffffff;
}
.wrapper .divider {
  border-color: #f5f5f5;
  margin: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.filter-section {
  padding: 70px 15px;
}
.filter-section .load-more {
  margin-top: 70px;
  text-align: center;
}
.filter-section .filters-btn {
  display: flex;
  justify-content: center;
  margin: 0 0 70px;
  flex-wrap: wrap;
}
.filter-section .filters-btn li {
  list-style: none;
  margin: 10px 10px 0 0;
}
.filter-section .filters-btn a {
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 11px;
  color: #111;
  padding: 5px 15px;
  background-color: transparent;
}
.filter-section .filters-btn a.is-checked {
  background: #111;
  color: #fff;
  border-color: #111;
}
.filter-section .portfolio-grid {
  display: grid;
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px 0;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .filter-section .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1201px) {
  .filter-section .portfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.filter-section .portfolio-grid article {
  padding: 8px 8px;
  width: 100%;
}
@media (min-width: 768px) {
  .filter-section .portfolio-grid article {
    width: 50%;
  }
}
@media (min-width: 1201px) {
  .filter-section .portfolio-grid article {
    width: 25%;
  }
}
.filter-section .portfolio-grid article .work-wrapper {
  position: relative;
}
.filter-section .portfolio-grid article .work-caption {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.filter-section .portfolio-grid article .work-caption .work-title {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 13px;
  color: #111;
  opacity: 0;
  margin: 0 0 15px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.filter-section .portfolio-grid article .work-caption .work-category {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  opacity: 0;
  margin: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  color: #111;
  font-family: Georgia, sans-serif;
}
.filter-section .portfolio-grid article .work-thumbnail {
  height: 223.35px;
  position: relative;
  width: 98%;
}
.filter-section .portfolio-grid article .work-thumbnail::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.filter-section .portfolio-grid article .work-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.filter-section .portfolio-grid article:hover .work-thumbnail::after {
  background: rgba(255, 255, 255, 0.8);
}
.filter-section .portfolio-grid article:hover .work-caption {
  opacity: 1;
}
.filter-section .portfolio-grid article:hover .work-title,
.filter-section .portfolio-grid article:hover .work-category {
  transition-delay: 0.2s;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.filter-section .portfolio-grid article:hover .work-category {
  transition-delay: 0.3s;
}

.footer {
  background-color: #ffffff;
  padding: 140px 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #BBB;
}
.footer .container-custom {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer .container-custom .contact-info {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}
.footer .container-custom .contact-info li {
  display: inline-block;
  margin: 5px 12.5px;
}
.footer .container-custom .contact-info li a {
  color: #111;
}
.footer .container-custom .copyright {
  text-align: center;
}
.footer .container-custom .copyright a {
  color: #111;
}
.footer .to-top-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  text-align: center;
  line-height: 40px;
  margin-left: -20px;
  color: #111;
}
.footer .to-top-link:hover {
  background: #111;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-size: 12px;
  color: #787878;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto Condensed", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  padding-left: 0;
  list-style: none;
}
.nav li {
  position: relative;
  display: block;
}

a {
  transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  background-color: transparent;
  text-decoration: none;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 11px;
  padding: 9px 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857143;
  background: rgb(17, 17, 17);
  color: #ffffff;
}
.btn:hover {
  background: rgba(17, 17, 17, 0.8);
}

.font-alt {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@keyframes ringrotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes ringrotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.page-loader {
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
}
.page-loader .loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  background-color: transparent;
  border: 5px solid #ECEFF1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.page-loader .loader::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
  -webkit-animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
  border-color: #000 transparent transparent transparent;
}

/*# sourceMappingURL=style.css.map */
